<nav>
    <ul>
      <% if (user && user.firstname) {%>
        <li>
          <a href="/profile">Welcome Back, <%= user.firstname %>!</a>
        </li>
      <% } %>
        <li>
            <a href="/">Home</a>
        </li>
    </ul>
    <ul>
      <% if (user) {%>
        <li>
            <a href="/profile">Profile</a>
        </li>
        <% if(user.admin) {%>
          <li>
            <a href="/profile/admin">Admin Profile</a>
          </li>
        <% } %>
        <li>
            <a href="/auth/logout">Log out</a>
        </li>
        <% } else {%>
        <li>
            <a href="/auth/signup">Sign up</a>
        </li>
        <li>
            <a href="/auth/login">Log in</a>
        </li>
        <% } %>
    </ul>
</nav>

<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
