
<nav>
    <ul class="nav-left">
        <li>
            <a href="/">Home</a>
        </li>
    </ul>
    <ul class="nav-right">
      <% if (user) {%>
        <li>
            <a href="/profile">Profile</a>
        </li>
        <li>
            <a href="/auth/logout">Log out</a>
        </li>
        <li>
          <a href="/collection">Collections</a>
        </li>
        <li>
          <a href="/search">Search</a>
        </li>
        <% } else {%>
        <li>
            <a href="/auth/signup">Sign up</a>
        </li>
        <li>
            <a href="/auth/login">Log in</a>
        </li>
        <% } %>
    </ul>
</nav>
