<h1>Delete <%= collection.name%>?</h1>
<form class="" action="/collection/delete/<%= collection.id %>?_method=DELETE" method="post">
  <input type="hidden" name="collectionId" value="<%= collection.id %>">
  <input type="submit" name="" value="Confirm Deletion">
</form>
