<form action="/search/results" method="get">
  <input type="text" name="keyname" placeholder="keyname">
  <select name="highlight">
    <option value="true">Highlighted Work</option>
    <option value="false">All Works</option>
  </select>
  <select name="view">
    <option value="true">Currently On View</option>
    <option value="false">All Works</option>
  </select>
  <div class="checkbox">
    <input type="checkbox" name="dep1" value="1">
    <label for="dep1">American Decorative Arts
  </div>
  <div>
    <input type="checkbox" name="dep3" value="3">
    <label for="dep3">Ancient Near Eastern Art</label>
  </div>
  <div>
    <input type="checkbox" name="de43" value="4">
    <label for="dep4">Arms and Armor</label>
  </div>
  <div>
    <input type="checkbox" name="dep5" value="5">
    <label for="dep5">Arts of Africa, Oceania, and the Americas</label>
  </div>
  <div>
    <input type="checkbox" name="dep6" value="6">
    <label for="dep6">Asian Art</label>
  </div>
  <div>
    <input type="checkbox" name="dep7" value="7">
    <label for="dep7">The Cloisters</label>
  </div>
  <div>
    <input type="checkbox" name="dep8" value="8">
    <label for="dep8">The Costume Institute</label>
  </div>
  <div>
    <input type="checkbox" name="dep9" value="9">
    <label for="dep9">Drawings and Prints</label>
  </div>
  <div>
    <input type="checkbox" name="dep10" value="10">
    <label for="dep10">Egyptian Art</label>
  </div>
  <div>
    <input type="checkbox" name="dep11" value="11">
    <label for="dep11">European Paintings</label>
  </div>
  <div>
    <input type="checkbox" name="dep12" value="12">
    <label for="dep12">European Sculpture and Decorative Arts</label>
  </div>
  <div>
    <input type="checkbox" name="dep13" value="13">
    <label for="dep13">Greek and Roman Art</label>
  </div>
  <div>
    <input type="checkbox" name="dep14" value="14">
    <label for="dep14">Islamic Art</label>
  </div>
  <div>
    <input type="checkbox" name="dep15" value="15">
    <label for="dep15">The Robert Lehman Collection</label>
  </div>
  <div>
    <input type="checkbox" name="dep16" value="16">
    <label for="dep16">The Libraries</label>
  </div>
  <div>
    <input type="checkbox" name="dep17" value="17">
    <label for="dep17">Medieval Art</label>
  </div>
  <div>
    <input type="checkbox" name="dep18" value="18">
    <label for="dep18">Musical Instruments</label>
  </div>
  <div>
    <input type="checkbox" name="dep19" value="19">
    <label for="dep19">Photographs</label>
  </div>
  <div>
    <input type="checkbox" name="dep21" value="21">
    <label for="dep21">Modern Art</label>
  </div>
</form>
