body {
  font-family: 'Roboto', sans-serif;

}

.home {
  text-align: center;
  font-family: 'Amatic SC', cursive;

}

img {
  height: 400px;
  width: 40%;
  justify-content: center;
}
.artwork-container {
  text-align: center;
  border: 2px solid black;
}

nav {
  height: 15vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.nav-right {
  float: right;
}

.nav-left {
  padding-left: 0;
  float: left;
}

a {
  text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

h1 {
  font-family: 'Amatic SC', cursive;
}

li {
  margin: 0 20px;
  display: inline-block;
  justify-content: space-around;
}

.new-collection {
  text-align: center;
}

select {
  margin: 10px;
}

.col-sub {
  margin-bottom: 15px;
}

.col-header {
  font-size: 50px;
  text-align: center;
}

.search-form {
  text-align: center;
}

.text-search {
  width: 80%;
  height: 20px;
}
